@charset "UTF-8";

*{ 
    padding: 0px;
    margin: 0px;
}
html, body { 
    width: 100vw;
    height: 100vh;
    background: #f7871e no-repeat;
}
h1 { 
    color: white;
    box-shadow: 2px 2px 0px #b36216;
    padding: 10px;
}